<div id="svg">

    <svg width="500" height="500"></svg>
    <script type="text/javascript">
        var simart = <%- JSON.stringify(similarArtistsList) %>;
        renderGraph(simart, false, false);
    </script>

</div>